{# templates/paragraph--glen-text-block.html.twig #}

<section class="glenville-text-block">
	<div class="container">
		<div class="row" data-aos="fade-up">
			{{content.field_rich_text}}
		</div>
	</div>
</section>
